@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #111111;
  --outline: #D4D4D4;
  --primary: #0A66FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .bg-background {
        @apply bg-[var(--background)];
    }
    .bg-foreground {
        @apply bg-[var(--foreground)];
    }
    .bg-primary {
        @apply bg-[var(--primary)];
    }
    .border-outline {
        @apply border-[var(--outline)];
    }
    .text-body-md {
        @apply leading-[22px] text-[15px];
    }
    .text-body-lg {
        @apply leading-[24px] text-[16px];
    }
    .text-white {
        @apply text-[#F5F5F5]
    }
    .text-secondary {
        @apply text-[#AAAAAA];
    }

}